.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.navbar h1 {
  display: flex;
  margin: 0;
  color: white;
}

.navbar p {
  margin: 0;
  color: white;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

.login-and-registration{
  display: flex;
  gap: 14px
}

.nav-link-button{
  border: none;
  color: #fff;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

